.blog {
  background-color: var(--bgc-secondary);
  margin: 0;
}
.container {
  &.blog__wrapper {
    display: flex;
    padding-right: 0;
  }
}
.blog__card {
  display: block;
  width: 680px;
  padding: 112px 30px 113px 44px;
}
.blog__tagline {
  margin-bottom: 5px;
  color: var(--main-text-color);
}
.blog__title {
  margin-bottom: 26px;
  color: var(--main-text-color);
}
.blog__text {
  margin-bottom: 17px;
  color: var(--main-text-color);
}
.btn__blog {
  background-color: var(--bgc-secondary);
  border: 1px solid var(--main-text-color);
  padding: 11px 36px 10px 36px;
  transition: background-color 250ms linear;
}

.btn__blog {
  &:focus,
  &:hover {
    background-color: #0278bd;
  }
}

.blog__item {
  display: flex;
  width: 680px;
  height: 517px;
}
