.callback {
  background-color: var(--section-color);
}

.callback__container {
  display: flex;
  padding-right: 0;
}

.callback__menu {
  display: flex;
  flex-direction: column;
  width: 680px;
  padding: 80px 30px;
  position: relative;
}

.callback__title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.callback__input {
  width: 100%;
  height: 40px;
  border: none;
  padding: 6px 5px;
}

.callback__input::placeholder {
  color: var(--register-text);
  font-size: 18px;
  line-height: 1.5;
}

.callback__input {
  &:nth-child(3) {
    margin-bottom: 36px;
  }
}

.callback__input {
  &:nth-child(5) {
    margin-bottom: 60px;
  }
}

.callback__btn {
  background: var(--accent-color);
  color: var(--main-text-color);
  font-family: inherit;
  font-size: 18px;
  line-height: 1.56;
  cursor: pointer;
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 10px 30px;
  transition: background-color 250ms linear;
}

.callback__btn {
  &:focus,
  &:hover {
    background-color: #259b42;
  }
}
