.services {
  background: var(--section-color);
  border-radius: 0px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.services__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background-color: var(--accent-color);
  margin: 0 auto;
  margin-bottom: 15px;
}

.services__icon {
  fill: var(--main-text-color);
}

.services__list {
  display: flex;
  gap: 70px;
}

.services__item {
  width: 362px;
  text-align: center;
}

.services__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.65;
  margin-bottom: 16px;
  text-transform: capitalize;
}
