<!--Business cases section-->
<section class="business-section">
   <div class="container">
      <p class="tagline business-tagline">This is what we do</p>
      <h2 class="title business-title">Business cases</h2>
      <p class="business-descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
      <ul class="business-list">
         <li class="business-item">
            <img src="./images/teamtable.jpg" alt="team working" width="320" />
         </li>
         <li class="business-item">
            <img src="./images/notebook.jpg" alt="person is writing" width="320" />
         </li>
         <li class="business-item">
            <img src="./images/compromis.jpg" alt="handshake" width="320" />
         </li>
         <li class="business-item">
            <img src="./images/temwork.jpg" alt="teamwork" width="320" />
         </li>
         <li class="business-item">
            <img src="./images/notebook.jpg" alt="notepad" width="320" />
         </li>
         <li class="business-item">
            <img src="./images/city.jpg" alt="city" width="320" />
         </li>
         <li class="business-item">
            <img src="./images/teamlead.jpg" alt="team is win" width="320" />
         </li>
         <li class="business-item">
            <img src="./images/smile.jpg" alt="smile" width="320" />
         </li>
      </ul>
   </div>
</section>