<!--Business cases section-->
<section class="business">
  <div class="container">
    <p class="business__tagline tagline">This is what we do</p>
    <h2 class="business__title title">Business cases</h2>
    <p class="business__descr">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="business__list">
      <li class="business__item">
        <picture>
          <source
            srcset="./images/desk-img1.jpg 1x, ./images/desk-img1@2x.jpg 2x"
            type="image/jpeg"
            media="(min-width: 1360px)"
          />
          <source
            srcset="./images/tab-img1.jpg, ./images/tab-img1@2x.jpg 2x"
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/mob-img1.jpg 1x, ./images/mob-img1@2x.jpg 2x"
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img src="./images/mob-img1.jpg" alt="Team is working" />
        </picture>
      </li>
      <li class="business__item">
        <picture>
          <source
            srcset="./images/desk-img2.jpg 1x, ./images/desk-img2@2x.jpg 2x"
            type="image/jpeg"
            media="(min-width: 1360px)"
          />
          <source
            srcset="./images/tab-img2.jpg 1x, ./images/tab-img2@2x.jpg 2x"
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/mob-img2.jpg 1x, ./images/mob-img2@2x.jpg 2x"
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img src="./images/mob-img2.jpg" alt="Woman is working at a laptop" />
        </picture>
      </li>
      <li class="business__item">
        <picture>
          <source
            srcset="./images/desk-img3.jpg 1x, ./images/desk-img3@2x.jpg 2x"
            type="image/jpeg"
            media="(min-width: 1360px)"
          />
          <source
            srcset="./images/tab-img3.jpg 1x, ./images/tab-img3@2x.jpg 2x"
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/mob-img3.jpg 1x, ./images/mob-img3@2x.jpg 2x"
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img
            src="./images/mob-img3.jpg"
            alt="Man is writting in a notebook"
          />
        </picture>
      </li>
      <li class="business__item">
        <picture>
          <source
            srcset="./images/desk-img4.jpg 1x, ./images/desk-img4@2x.jpg 2x"
            type="image/jpeg"
            media="(min-width: 1360px)"
          />
          <source
            srcset="./images/tab-img4.jpg 1x, ./images/tab-img4@2x.jpg 2x"
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/mob-img4.jpg 1x, ./images/mob-img4@2x.jpg 2x"
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img src="./images/mob-img4.jpg" alt="View of skyscrapers" />
        </picture>
      </li>
      <li class="business__item">
        <picture>
          <source
            srcset="./images/desk-img5.jpg 1x, ./images/desk-img5@2x.jpg 2x"
            type="image/jpeg"
            media="(min-width: 1360px)"
          />
          <source
            srcset="./images/tab-img5.jpg 1x, ./images/tab-img5@2x.jpg 2x"
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/mob-img5.jpg 1x, ./images/mob-img5@2x.jpg 2x"
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img src="./images/mob-img5.jpg" alt="Two people are shaking hands" />
        </picture>
      </li>
      <li class="business__item">
        <picture>
          <source
            srcset="./images/desk-img6.jpg 1x, ./images/desk-img6@2x.jpg 2x"
            type="image/jpeg"
            media="(min-width: 1360px)"
          />
          <source
            srcset="./images/tab-img6.jpg 1x, ./images/tab-img6@2x.jpg 2x"
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/mob-img6.jpg 1x, ./images/mob-img6@2x.jpg 2x"
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img src="./images/mob-img6.jpg" alt="Woman and her team" />
        </picture>
      </li>
      <li class="business__item">
        <picture>
          <source
            srcset="./images/desk-img7.jpg 1x, ./images/desk-img7@2x.jpg 2x"
            type="image/jpeg"
            media="(min-width: 1360px)"
          />
          <source
            srcset="./images/tab-img7.jpg 1x, ./images/tab-img7@2x.jpg 2x"
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/mob-img7.jpg 1x, ./images/mob-img7@2x.jpg 2x"
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img src="./images/mob-img7.jpg" alt="team handshake" />
        </picture>
      </li>
      <li class="business__item">
        <picture>
          <source
            srcset="./images/desk-img8.jpg 1x, ./images/desk-img8@2x.jpg 2x"
            type="image/jpeg"
            media="(min-width: 1360px)"
          />
          <source
            srcset="./images/tab-img8.jpg 1x, ./images/tab-img8@2x.jpg 2x"
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/mob-img8.jpg 1x, ./images/mob-img8@2x.jpg 2x"
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img src="./images/mob-img8.jpg" alt="Woman is smiling" />
        </picture>
      </li>
    </ul>
  </div>
</section>
