<section class="callback">
  <div class="container callback__container">
    <img
      src="./images/rectangle.jpg"
      alt="man working on a computer"
      width="680"
    />
    <div class="callback__request">
      <form class="callback__menu">
        <h2 class="title callback__title">Request callback</h2>
        <label class="callback__name" for="person-name"></label>
        <input
          class="callback__input"
          type="text"
          id="person-name"
          placeholder="Enter your name"
        />

        <label class="callback__mail" for="person-mail"></label>
        <input
          class="callback__input"
          type="email"
          id="person-mail"
          placeholder="Enter email*"
        />
        <button class="callback__btn" type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
