<section class="hero">
  <h2 class="visually-hidden">header</h2>
  <div class="hero__header">
    <header class="header container" id="header">
      <div>
        <a class="logo logo__link" href="./index.html"
          ><svg width="39.31" height="35" class="logo__icon">
            <use href="./images/symbol-defs.svg#icon-logo"></use>
          </svg>
          <span class="logo__accent">Finance </span>Ledger</a
        >
      </div>
      <div class="header__nav">
        <nav>
          <ul class="header__nav-list">
            <li><a class="header__nav-link" href="#">Home</a></li>
            <li><a class="header__nav-link" href="#">About</a></li>
            <li><a class="header__nav-link" href="#">Cases</a></li>
            <li><a class="header__nav-link" href="#">Blog</a></li>
            <li><a class="header__nav-link" href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container hero">
      <h1 class="hero__title">The sky is the limit</h1>
      <p class="hero__description">
        We provide world class financial assistance
      </p>
      <button class="btn hero__button" type="button" data-modal-open>
        <span>></span> Read more
      </button>
    </div>
  </div>
</section>
