<!-- Modal window -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal__window">
    <button class="modal__btn" type="button" data-modal-close>
      <svg class="modal__svg" width="20" height="20">
        <use href="./images/symbol-defs.svg#icon-close-black"></use>
      </svg>
    </button>
    <!-- Form -->
    <form class="form" name="contact-form" autocomplete="off">
      <p class="form__title">Order a callback</p>
      <div class="form__part">
        <div class="form__part-input">
          <input
            class="form__input"
            id="personal-name"
            type="text"
            name="personal-name"
            placeholder=" "
            minlength="6"
            maxlength="20"
            pattern="^[A-Za-z]+\s[A-Za-z]+$"
            title="Enter first and last name, only Latin letters"
            required
          />
          <label class="form__label" for="personal-name">Name</label>
          <svg class="form__icon" width="18" height="18">
            <use href="./images/symbol-defs.svg#icon-person-black"></use>
          </svg>
        </div>
        <div class="form__part-input">
          <input
            class="form__input"
            id="personal-phone"
            type="tel"
            name="personal-phone"
            placeholder=" "
            pattern="^\+[0-9]{12}"
            title="+380..."
            required
          />
          <label class="form__label" for="personal-phone">Phone</label>
          <svg class="form__icon" width="18" height="18">
            <use href="./images/symbol-defs.svg#icon-phone-black"></use>
          </svg>
        </div>
        <div class="form__part-input">
          <input
            class="form__input"
            id="personal-mail"
            type="email"
            name="personal-mail"
            placeholder=" "
            required
          />
          <label class="form__label" for="personal-mail">Email</label>
          <svg class="form__icon" width="18" height="18">
            <use href="./images/symbol-defs.svg#icon-email-black"></use>
          </svg>
        </div>
      </div>
      <div class="form__textarea">
        <label for="person-comment">Сomment</label>
        <textarea
          class="textarea form__input"
          id="person-comment"
          name="person-comment"
          placeholder="Enter a comment..."
        ></textarea>
      </div>
      <div class="form__checkbox">
        <input
          class="checkbox visually-hidden"
          id="terms-checkbox"
          type="checkbox"
          name="terms-checkbox"
        />
        <svg class="check__icon" width="16" height="15">
          <use href="./images/symbol-defs.svg#icon-check"></use>
        </svg>
        <label class="checkbox__label" for="terms-checkbox">
          I agree with the mailing and accept it
          <a class="terms-text" href="#">Terms of the contract</a>
        </label>
      </div>
      <button class="btn btn__send" type="submit">Send</button>
    </form>
  </div>
</div>
