<section class="services">
  <div class="container">
    <h2 class="visually-hidden">Services</h2>
    <ul class="services__list">
      <li class="services__item">
        <div class="services__icon-box">
          <svg width="35" height="35" class="services__icon">
            <use href="./images/symbol-defs.svg#icon-fa-solid_university"></use>
          </svg>
        </div>
        <h3 class="services__title">Investmant banking</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="services__item">
        <div class="services__icon-box">
          <svg width="35" height="35" class="services__icon">
            <use
              href="./images/symbol-defs.svg#icon-fa-solid_book-reader"
            ></use>
          </svg>
        </div>
        <h3 class="services__title">Portfolio manager</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="services__item">
        <div class="services__icon-box">
          <svg width="35" height="35" class="services__icon">
            <use href="./images/symbol-defs.svg#icon-fa-solid_pencil-alt"></use>
          </svg>
        </div>
        <h3 class="services__title">Tax & custudio</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
    </ul>
  </div>
</section>
