      <!-- Solutions section -->
      <section class="solutions">
        <div class="container solutions-container">
          <img src="./images/team.jpg" alt="team" width="680" height="460" />
          <div class="solutions-box">
            <p class="tagline solutions-tagline">What you are looking for</p>
            <h2 class="title solutions-title">We provide bespoke solutions</h2>
            <p class="solutions-text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium
              asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus
              iste maiores deleniti?
            </p>
            <button class="btn btn-solutions" type="button">Read more</button>
          </div>
        </div>
      </section>