<section class="team__section">
    <div class="team__container">
        <p class="tagline team__tagline">Who we are</p>
        <h2 class="title title-team">Our professional team</h2>
        <p class="paragraph-team">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
        <ul class="team-group">
            <li class="team-item">
                <div class="team-group-list">
                    <img src="./images/president.jpg" alt="Man with black hair" width="420" />
                    <ul class="social-list-team">
                        <li>
                            <a class="social-link" href="" aria-label="Facebook link">
                                <svg width="35" height="35">
                                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="social-link" href="" aria-label="Twitter link">
                                <svg width="35" height="35">
                                    <use href="./images/symbol-defs.svg#icon-twitter-1"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="social-link" href="" aria-label="You tube link">
                                <svg width="40" height="35">
                                    <use href="./images/symbol-defs.svg#icon-youtube"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="social-link" href="" aria-label="Instagram">
                                <svg width="31" height="35">
                                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="crew">
                    <h3 class="name-team">John Doe</h3>
                    <p class="position-team">President</p>
                </div>
            </li>
            <li class="team-item">
                <div class="team-group-list">
                    <img src="./images/vicepresident.jpg" alt="woman on the chair" width="420" />
                    <ul class="social-list-team">
                        <li>
                            <a class="social-link" href="" aria-label="Facebook link">
                                <svg width="35" height="35">
                                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="social-link" href="" aria-label="Twitter link">
                                <svg width="35" height="35">
                                    <use href="./images/symbol-defs.svg#icon-twitter-1"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="social-link" href="" aria-label="You tube link">
                                <svg width="40" height="35">
                                    <use href="./images/symbol-defs.svg#icon-youtube"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="social-link" href="" aria-label="Instagram">
                                <svg width="31" height="35">
                                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="crew">
                    <h3 class="name-team">Jane Doe</h3>
                    <p class="position-team">Vice president</p>
                </div>
            </li>
            <li class="team-item">
                <div class="team-group-list">
                    <img src="./images/marketinghead.jpg" alt="man working with notebook" width="420" />
                    <ul class="social-list-team">
                        <li>
                            <a class="social-link" href="" aria-label="Facebook link">
                                <svg width="35" height="35">
                                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="social-link" href="" aria-label="Twitter link">
                                <svg width="35" height="35">
                                    <use href="./images/symbol-defs.svg#icon-twitter-1"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="social-link" href="" aria-label="You tube link">
                                <svg width="40" height="35">
                                    <use href="./images/symbol-defs.svg#icon-youtube"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="social-link" href="" aria-label="Instagram">
                                <svg width="31" height="35">
                                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="crew">
                    <h3 class="name-team">Steve Smith</h3>
                    <p class="position-team">Marketing head</p>
                </div>
            </li>
        </ul>
    </div>
</section>